@mixin center{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin circle{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
@mixin auto{
    margin-left: auto;
    margin-right: auto;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background: pink;
}
$width : 600px;

.qipan{
    width: $width;
    height: $width;
    background: pink;
    @include center;
    background: rgba(255,255,255,0.5);
    .qizi{
        position: relative;
        z-index: 333;
        width: $width / 15 - 10px;
        height: $width / 15 - 10px;
        float: left;
        margin: 5px;
        @include circle;
    }
    .hei{
        background: black;
    }
    .bai{
        background: white;
    }
    .hang{
        width: $width - $width / 15;
        height: 1px;
        position: absolute;
        left: $width / 15 / 2;
        background: #000000;
    }
    @for $i from 0 through 14{
        div:nth-of-type(#{$i+1}){
            top:$width/15/2 + $i*$width/15;
            animation: hangd 1s ease $i*0.1s forwards;
        }
    }
    .shu{
        height: $width - $width / 15;
        width: 1px;
        position: absolute;
        top: $width / 15 / 2;
        background: #000000;
    }
    @for $i from 0 through 14{
        span:nth-of-type(#{$i+1}){
            left:$width/15/2 + $i*$width/15;
            animation: shud 1s ease $i*0.1s forwards;
            
        }
    }
    i{
        width: $width / 60 / 1.5;
        height: $width / 60 / 1.5;
        position: absolute;
        background: black;
        @include circle;
        animation: diaoluo 1s ease;
        transform: translate3d(-50%,-50%,0);
        
        @for $i from 1 through 5{
            &:nth-of-type(#{$i}){
                animation-delay: $i*0.1s;
            }
        };
        
        &:nth-of-type(1){
            top: 3.5*$width/15;
            left: 3.5*$width/15;
        }
        &:nth-of-type(2){
            top: 3.5*$width/15;
            left: 11.5*$width/15;
        }
        &:nth-of-type(3){
            top: 7.5*$width/15;
            left: 7.5*$width/15;
        }
        &:nth-of-type(4){
            top: 11.5*$width/15;
            left: 3.5*$width/15;
        }
        &:nth-of-type(5){
            top: 11.5*$width/15;
            left: 11.5*$width/15;
        }
        
    }
    
}

@keyframes diaoluo{
    0%{
        transform: translate3d(0,-800px,0);
        opacity: 0;
    }
    100%{
        transform: translate3d(-50%,-50%,0);
        opacity: 1;
    }
}
@keyframes hangd{
    0%{
        transform: translate3d(-1000px,0,0);
        opacity: 0;
    }
    100%{
         transform: translate3d(0,0,0);
         opacity: 1;
    }
}
@keyframes shud{
    0%{
        transform: translate3d(0,-1000px,0);
        opacity: 0;
    }
    100%{
         transform: translate3d(0,0,0);
         opacity: 1;
    }
}